<div class="masthead bg-primary text-white text-center" id="startPage">
    <div class="container d-flex align-items-center flex-column">

        <h1 class="masthead-heading text-uppercase mb-0">About me</h1>

        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <p class="masthead-subheading font-weight-light mb-0 pt-4" id="about-desc">Hello!</p>
        <p class="masthead-subheading font-weight-light mb-0">My name is Filip Flodén and this is my portfolio.</p>
        <p class="masthead-subheading font-weight-light mb-0">I am 20 years old and study at Jönköping University</p>
    </div>
</div>