<section class="page-section mt-4">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">LOGIN</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <form method="post" action="">
            <div class="form-group">
                <label for="username">Username</label>
                <input required class="form-control" type="text" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input required class="form-control" type="password" id="password" name="password">
            </div>
            <button class="btn btn-primary" type="submit">Login</button>
            {{#if dbError}}
                <h4>Wrong username or password</h4>
            {{/if}}
            <input type="hidden" name="_csrf" value="{{csrf}}">
        </form>
    </div>
</section>